.videoItem {
    display: flex;

    box-sizing: border-box;
    border: solid 1px gray;
    margin: 3px;
    margin-right: 10px;
    position: inherit;
    transition: transform 100ms ease-in-out;
}

.videoItem:hover {
    transform: scale(1.02);
}

.channelInfo {
    width: 200px;
    margin-left: 10px;
}
.title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
.channelTitle {
    color: rgb(138, 137, 137);
}
@media screen and (max-width: 768px) {
    .channelInfo {
        flex-wrap: wrap;
    }
}
